# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
config.json
# Test binary, build with `go test -c`
*.test
*.pb.go
*.g.cs
*_pb.js
*.csproj
package-lock.json

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.vs*
spc*
dist/
config/
data/
bin/
webroot/
node_modules/
*.key
*.pem
*.crs
*.crt
