html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

.mainpage-panel{
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.mainpage-header{
    display: flex;
    color: white;
    min-height: 56px;
    background-color: rgb(51, 103, 214);
    padding-left: 20px;
    padding-right: 20px;
}

.mainpage-title{
    display: flex;
    font-size: 16pt;
    align-self: center;
}

.mainpage-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    justify-content: center;
    overflow: auto;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size:     14pt;
    padding-bottom: 20px;
}

.form-section{
    border: 1px solid lightgrey;
    margin-top: 10px;
    background-color: white;
    width: 680;
    color: rgb(32, 33, 36);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.form-section-title{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-weight: 500;
}

.form-section div{
    padding: 4px;
}